:root {
    --size: 250px;
}

body {
    display: flex;
    gap: 5rem;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, var(--size));
    grid-template-rows: repeat(3, var(--size));
}

#board > button {
    font-size: 6rem;
}

.container p,
h1 {
    font-size: 3rem;
}
